.composition {
    background-color: aqua;
}

.mainComposition {
    background-color: aquamarine;
}

.titleComposition {
    background-color: rgb(25, 66, 52);
    padding: 0vw 5vw;
}

.grupItemComposition {
    background-color: aqua;
    display: flex;
    padding: 5vw;
}

.itemComposition {
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
    background-color: transparent;
    padding: 2vw;
    text-align: start;
    width: 20vw;
    transition: width 0.5s ease; /* Transisi halus untuk width */
}

.ic1 {
    margin-bottom: 5vw;
}

.itemComposition h2 {
    font-weight: bold;
    margin-bottom: 2vw;
}

.itemComposition p {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.itemComposition:hover {
    width: 30vw;
    opacity: 0.9;
}

.itemComposition:hover p {
    display: block; /* Tampilkan elemen */
    opacity: 1; /* Atur opacity penuh */
    height: auto; /* Tinggi menyesuaikan konten */
}

.lItemComposition {
   width: 35vw; 
   display: grid;
   background-color: blueviolet;
}

.rItemComposition {
    width: 35vw;
    display: grid;
    background-color: blue;
    justify-content: end;
}

.pictItemComposition {
    background-color: brown;
    width: 30vw;
}